@use "../../styles/fonts" as *;
@use "../../styles/global" as *;

.page-container{
  background-color: #ffefe2;
  width: 100vw;
  height: 100%;
  padding: 2rem 0;

}

.page-main{
  max-width: 1000px;
  margin: auto;
  margin-top: 2rem;
  border: #ffefe2 2px solid;
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}