@use "../../styles/fonts" as *;
@use "../../styles/global" as *;

.container {
  max-width: 1000px;
}

.disclaimer-title {
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.disclaimer {
  color: #757575;
  font-size: 1rem;
  font-style: italic;
  text-align: left;
  margin-bottom: 0.5rem;
}

.built-by {
  color: #757575;
  margin: 1rem;
}

.learn-more{
  color: #757575;
  margin-top: -.5rem;
}

.heart{
  height: 9px;
  margin-top: 15px;
}